@import "../../Fonts/Font.scss";
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerHome {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(../../Images/HomeImage/auroral-forest-4k-illustration-h0.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
  @media (max-width: 500px) {
    background: url(../../Images/HomeImage/fCua1mz_d.webp);
    background-position: bottom;
    height: 100vh;
  }
  .mainContainerDiv {
    @include flexCenter();
    position: relative;
    top: 0;
    height: 80vh;
  }

  .titleHomeDiv {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    .titleHomePage {
      font-size: 4em;

      @media (max-width: 500px) {
        font-size: 2em;
      }
      @media (min-width: 501px) and (max-width: 1336px) {
        font-size: 4em;
      }
      @media (min-width: 1336px) and (max-width: 1920px) {
        font-size: 5em;
      }
    }
  }

  .titleHomeDiv b {
    font: 400 19vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
      0 0 0.1em #ff4444, 0 10px 3px #000;
  }
  .titleHomeDiv b span {
    animation: blink linear infinite 3s;
  }
  .titleHomeDiv b span:nth-of-type(2) {
    animation: blink linear infinite 2s;
  }

  .resume {
    @include flexCenter();
    position: absolute;
    z-index: 1;
    margin-top: 5em;
    cursor: pointer;
    top: 50%;
    margin-left: 18em;
    @media (max-width: 500px) {
      margin-left: 0;
      top: 14em;
    }
    @media (min-width: 501px) and (max-width: 1336px) {
      margin-left: 13em;
    }
    @media (min-width: 1336px) and (max-width: 1920px) {
      margin-left: 18em;
    }
  }
  .ButtonContact {
    @include flexCenter();
    position: absolute;
    z-index: 2;
    cursor: pointer;
    margin-top: 5em;
    margin-right: 12em;
    top: 50%;
    @media (max-width: 500px) {
      margin-right: 0;
      top: 18em;
    }
    @media (min-width: 501px) and (max-width: 1336px) {
      margin-left: 0;
    }
    @media (min-width: 1336px) and (max-width: 1920px) {
      margin-left: 0;
    }
  }
  .ContactMainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .animationContact {
    animation: opacityZero 500ms ease-in-out;
    z-index: 3;
  }
}

@import url(//fonts.googleapis.com/css?family=Vibur);

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes opacityZero {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
