.footerContainer {
  margin-top: 40px;
  position: relative;
  .backgroundFooter {
    border-top: 2px solid #fff;
    border-bottom: none;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    .MainContent {
      margin-top: 50px;
      text-align: start;
      display: flex;
      flex: 1 1 auto;
      font-size: 10px;
      color: white;

      justify-content: center;
      align-items: center;
      .columOne {
        display: flex;
        width: 33%;

        justify-content: center;
        align-items: center;
        //border-right: solid 2px white;
        // width: 30%;
        .contentColumOne {
          justify-content: center;
          align-items: center;
          display: flex;
          flex-direction: column;
          .logo {
            img {
              width: 40px;
            }
            .logoName {
              font-size: 13px;
              word-spacing: -2px;
              margin-left: -10px;
              font-family: "Kirang Haerang", cursive;
            }
          }
          .aboutUs {
            width: 60%;
            margin-top: 20px;
            h1 {
              font-size: 15px;
              color: rgb(233, 204, 42);
              font-family: "Uchen", serif;
            }
            p {
              line-height: 15px;
              font-family: "Uchen", serif;
            }
          }

          .contactUs {
            margin-top: 20px;
            width: 60%;
            font-size: 8px;
            h1 {
              color: rgb(233, 204, 42);
            }
            font-family: "Uchen", serif;
            .contactList {
              display: flex;
              .IconContact {
                color: white;
                font-size: 15px;
              }
              span {
                color: white;
                margin-top: 3px;
                font-size: 10px;
                margin-left: 5px;
              }
            }
          }
        }
      }
      .columTwo {
        margin-left: 10px;
        //border-right: solid 2px white;
        //width: 30%;

        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 33%;
        flex-direction: column;
        .contentInformation {
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 18px;
            color: rgb(233, 204, 42);
            font-family: "Uchen", serif;
          }
          a {
            font-size: 11px;
            text-decoration: none;
            color: white;
            margin-top: 10px;
            font-family: "Uchen", serif;
            &:hover {
              color: rgb(0, 217, 255);
            }
          }
        }
      }
      .columThree {
        display: flex;
        flex-grow: 1;
        width: 33%;
        justify-content: center;
        align-self: center;
        align-items: center;

        flex-direction: column;
        .contentCertificate {
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 18px;
            color: rgb(233, 204, 42);
            font-family: "Uchen", serif;
            margin-bottom: -10px;
          }
          a {
            margin-top: 10px;
            font-size: 12px;
            text-decoration: none;
            color: white;
            font-family: "Uchen", serif;
            &:hover {
              color: rgb(0, 217, 255);
            }
          }
        }
        .contentSourceCode {
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 18px;
            color: rgb(233, 204, 42);
            font-family: "Uchen", serif;
          }
          a {
            margin-top: 10px;
            font-size: 12px;
            text-decoration: none;
            color: white;
            font-family: "Uchen", serif;
            &:hover {
              color: rgb(0, 217, 255);
            }
          }
        }
      }
    }
  }
  .BottomContentFooter {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .SocialMedia {
      width: 90%;
      border-top: solid 2px white;
      .IconContainerFooter {
        margin-top: 10px;
        margin-left: 25px;
        a {
          text-decoration: none;
          .IconFooterSize {
            color: rgb(233, 204, 42);
            font-size: 30px;
            &:hover {
              color: aqua;
            }
          }
        }
      }
    }
  }
}
