.ProjectContainer {
  background-image: url(../../Images/AboutImage/backgroundProject.jpg);
  background-position: center;
  background-size: cover;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  border-bottom: black 5px solid;
  .Filter {
    background-color: rgba(253, 253, 253, 0.288);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
  }
  .MainProjectPage {
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgSizeForm {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      @media (min-width: 800px) {
        width: 55%;
      }
      @media (min-width: 1300px) {
        top: 25px;
        width: 50%;
      }
      height: 600px;
      .imgForme {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.616);
        position: relative;
        border-radius: 20px;
        width: 100%;
        padding-bottom: 56.25%;
        -webkit-box-shadow: 0px 0px 10px 0px #000000;
        box-shadow: 0px 0px 10px 0px #000000;
        .RightArrow {
          background-color: white;
          display: flex;
          border-radius: 100px;
          z-index: 2;
          position: absolute;
          right: -1.1em;
          top: 40%;
          font-size: 2.5em;
          cursor: pointer;
          &:hover {
            color: white;
            background-color: black;
          }
          @media (max-width: 500px) {
            font-size: 2em;
            right: -1.2em;
          }
          @media (min-width: 1000px) {
            font-size: 3em;
            right: -1.2em;
          }
        }
        .LeftArrow {
          background-color: white;
          display: flex;
          border-radius: 100px;
          z-index: 2;
          cursor: pointer;
          position: absolute;
          left: -1.1em;
          top: 40%;
          font-size: 2.5em;
          &:hover {
            color: white;
            background-color: black;
          }
          @media (max-width: 500px) {
            font-size: 2em;
            left: -1.2em;
          }
          @media (min-width: 1000px) {
            font-size: 3em;
            left: -1.2em;
          }
        }
        .btnAutoImage {
          -webkit-user-select: none;
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -ms-user-select: none;
          -moz-user-select: none;
          user-select: none;
          position: absolute;
          right: 10px;
          z-index: 1;
          top: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5em 0.6em 0.5em 0.6em;
          font-size: 0.8em;
          color: white;
          &:hover {
            animation: autoShowUp 700ms ease-in-out;
            -moz-animation: autoShowUp 700ms ease-in-out;
            -webkit-animation: autoShowUp 700ms ease-in-out;
            -o-animation: autoShowUp 700ms ease-in-out;
            margin-top: -1.25em;
            z-index: 1;
            cursor: pointer;
          }
          &:not(:hover) {
            animation: autoShowDown 700ms;
          }
        }
        .btnAutoImageOn {
          background-color: rgba(71, 230, 143, 0.445);
        }
        .btnAutoImageOff {
          background-color: rgba(255, 60, 0, 0.466);
        }
        .imageProjectSide {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 20px;
          opacity: 0;
        }
        .sideImage {
          animation: hidden 800ms ease-in-out;
        }
        .sideImageActive {
          animation: opacity 800ms ease-in-out;
          -moz-animation: opacity 800ms ease-in-out;
          -webkit-animation: opacity 800ms ease-in-out;
          -o-animation: opacity 800ms ease-in-out;
          z-index: 2;
          opacity: 1;
        }
      }
    }
  }

  .doteContainer {
    background-color: rgba(127, 240, 255, 0.568);
    position: absolute;
    display: flex;
    z-index: 4;
    border-radius: 5px;
    top: 100%;
    margin-top: 1em;
    .dote {
      z-index: 4;
      font-size: 1em;
      color: white;
      padding: 0.3em;
      @media (max-width: 500px) {
        padding: 0.1em;
        font-size: 0.8em;
      }
      @media (min-width: 1000px) {
        padding: 0.6em;
        font-size: 1em;
      }
    }
    .doteActive {
      color: red;
    }
  }
}

.sectionTwoProject {
  position: absolute;
  top: 600px;
  margin-top: 1em;
  height: 700px;
  h1 {
    color: red;
    font-family: cursive, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

@keyframes autoShowUp {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -1.25em;
  }
}

@keyframes autoShowDown {
  from {
    margin-top: -1.25em;
  }
  to {
    margin-top: 0;
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
